$body-background-color: #ecf2f8;
$card-shadow: 40px 60px 50px -47px
  rgba(
    $color: #48556a,
    $alpha: 0.25,
  );
$white-background-color: #fff;

%flexbox {
  display: flex;
  flex-direction: column;
}

%typography-style {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

@mixin review-heading-style($color: #fff) {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  color: $color;
}

@mixin review-quote-style($color: #fff) {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: $color;
  opacity: 70%;
}

@mixin image-border-style($color) {
  border: 2px solid $color;
}

@mixin grid-item-positioning($row: auto, $column: auto) {
  grid-column: $column;
  grid-row: $row;
}

@mixin flexbox(
  $direction: column,
  $gap: 1.8rem,
  $align: center,
  $justify: center
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: $body-background-color;
  color: #fff;
}

.main {
  max-width: 111rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin: 7.1rem 2.4rem;
}

.testimonial {
  @include flexbox($align: flex-start);
  padding: 2.6rem 3.2rem 3.2rem;
  border-radius: 0.8rem;
  box-shadow: $card-shadow;

  &:nth-child(1),
  &:nth-child(4) {
    img {
      @include image-border-style(#a775f1);
    }
  }

  &__header {
    @include flexbox($direction: row, $justify: flex-start, $gap: 1.7rem);
  }

  &__author {
    @include flexbox($gap: 0.4rem, $align: flex-start);
  }

  &__image {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  &__name,
  &__position {
    @extend %typography-style;

    &--light {
      color: #fff;
    }

    &--dark {
      color: #48556a;
    }
  }

  &__position {
    font-size: 1.1rem;
    opacity: 50%;
  }

  &__review {
    &-heading {
      @include review-heading-style(#fff);
    }

    &-quote {
      @include review-quote-style(#cfcfcf);
    }

    &-quotation {
      position: absolute;
      top: 0;
      right: 2.4rem;
      z-index: -1;
      img {
        border: none !important;
      }
    }
  }

  &__daniel {
    background-color: #733fc8;
    position: relative;
    z-index: 1;

    h2 {
      margin-bottom: 4rem;
    }
  }

  &__jonathan {
    background-color: #48556a;

    blockquote {
      color: #fff;
    }
  }

  &__kira {
    @include grid-item-positioning($row: 5);
    background-color: #fff;
    h2,
    blockquote {
      color: #48556a;
    }
  }

  &__patrick {
    background-color: #19202d;
    h2 {
      color: #ecf2f8;
    }

    blockquote {
      color: #fff;
    }
  }

  &__jeanette {
    @include grid-item-positioning($row: 3 / span 1);
    background-color: #fff;
    h2,
    blockquote {
      color: #48556a;
    }
  }
}

@media (min-width: 48em) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial {
    justify-content: flex-start;

    &__kira {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }
}

@media (min-width: 72.5em) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 28.2rem 26.6rem;
    margin: 16.4rem auto;
    gap: 0;
    column-gap: 3rem;
    row-gap: 2.4rem;
  }

  .testimonial {
    &__daniel {
      grid-column: 1 / 3;

      h2 {
        margin-bottom: 1.6rem;
      }
    }

    &__kira {
      grid-column: 4;
      grid-row: 1 / -1;
    }

    &__jeanette {
      grid-row: 2;
    }

    &__patrick {
      grid-column: 2 / 4;
    }
  }
}
