$body-background-color: #ecf2f8;
$card-shadow: 40px 60px 50px -47px
  rgba(
    $color: #48556a,
    $alpha: 0.25,
  );
$white-background-color: #fff;

%flexbox-style {
  display: flex;
  align-items: center;
}

%typography-style {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

@mixin review-heading-style($color: #fff) {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  color: $color;
}

@mixin review-quote-style($color: #fff) {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  color: $color;
  opacity: 70%;
}

@mixin image-border-style($color) {
  border: 2px solid $color;
}

@mixin grid-item-positioning($row: auto, $column: auto) {
  grid-column: $column;
  grid-row: $row;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: $body-background-color;
  color: #fff;
}

.main-container {
  max-width: 111.1rem;
  margin: 16rem auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 28.2rem 26.6rem;
  row-gap: 2.4rem;
  column-gap: 3rem;

  article {
    border-radius: 0.8rem;
    padding: 3.2rem;
    box-shadow: $card-shadow;

    &:nth-child(1) {
      img {
        @include image-border-style(#a775f1);
      }
    }

    &:nth-child(4) {
      img {
        @include image-border-style(#733fc8);
      }
    }
  }

  .testimonial {
    &__header {
      margin-bottom: 1.8rem;

      &-image {
        @extend %flexbox-style;
        gap: 1.7rem;

        img {
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 50%;
        }
      }

      figcaption {
        @extend %flexbox-style;
        flex-direction: column;
        align-items: baseline;
        gap: 0.4rem;
      }

      &-name {
        &--light {
          @extend %typography-style;
        }

        &--dark {
          @extend %typography-style;
          color: #48556a;
        }
      }

      &-position {
        &--light {
          @extend %typography-style;
          font-size: 1.1rem;
          opacity: 50%;
        }

        &--dark {
          @extend %typography-style;
          color: #48556a;
          font-size: 1.1rem;
          opacity: 50%;
        }
      }
    }

    &__daniel {
      @include grid-item-positioning(auto, 1 / span 2);
      background-color: #733fc8;

      .testimonial__review {
        &-heading {
          @include review-heading-style;
        }

        &-quote {
          @include review-quote-style(#cfcfcf);
        }
      }
    }

    &__jonathan {
      background-color: #48556a;
      .testimonial__review {
        &-heading {
          @include review-heading-style;
        }

        &-quote {
          @include review-quote-style;
        }
      }
    }

    &__kira {
      @include grid-item-positioning(1 / span 2, 4);
      background-color: $white-background-color;
      .testimonial__review {
        &-heading {
          @include review-heading-style(#48556a);
        }

        &-quote {
          @include review-quote-style(#48556a);
        }
      }
    }

    &__jeanette {
      background-color: $white-background-color;
      .testimonial__review {
        &-heading {
          @include review-heading-style(#48556a);
        }

        &-quote {
          @include review-quote-style(#48556a);
        }
      }
    }

    &__patrick {
      @include grid-item-positioning(2, 2 / span 2);
      background-color: #19202d;
      .testimonial__review {
        &-heading {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2;
          margin-bottom: 1.6rem;
          color: #ecf2f8;
        }

        &-quote {
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.4;
          color: #fff;
          opacity: 70%;
        }
      }
    }
  }
}
