.testimonial__name, .testimonial__position {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #ecf2f8;
  color: #fff;
}

.main {
  max-width: 111rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin: 7.1rem 2.4rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.8rem;
  padding: 2.6rem 3.2rem 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}
.testimonial:nth-child(1) img, .testimonial:nth-child(4) img {
  border: 2px solid #a775f1;
}
.testimonial__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.7rem;
}
.testimonial__author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.4rem;
}
.testimonial__image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
.testimonial__name--light, .testimonial__position--light {
  color: #fff;
}
.testimonial__name--dark, .testimonial__position--dark {
  color: #48556a;
}
.testimonial__position {
  font-size: 1.1rem;
  opacity: 50%;
}
.testimonial__review-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  color: #fff;
}
.testimonial__review-quote {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #cfcfcf;
  opacity: 70%;
}
.testimonial__review-quotation {
  position: absolute;
  top: 0;
  right: 2.4rem;
  z-index: -1;
}
.testimonial__review-quotation img {
  border: none !important;
}
.testimonial__daniel {
  background-color: #733fc8;
  position: relative;
  z-index: 1;
}
.testimonial__daniel h2 {
  margin-bottom: 4rem;
}
.testimonial__jonathan {
  background-color: #48556a;
}
.testimonial__jonathan blockquote {
  color: #fff;
}
.testimonial__kira {
  grid-column: auto;
  grid-row: 5;
  background-color: #fff;
}
.testimonial__kira h2,
.testimonial__kira blockquote {
  color: #48556a;
}
.testimonial__patrick {
  background-color: #19202d;
}
.testimonial__patrick h2 {
  color: #ecf2f8;
}
.testimonial__patrick blockquote {
  color: #fff;
}
.testimonial__jeanette {
  grid-column: auto;
  grid-row: 3/span 1;
  background-color: #fff;
}
.testimonial__jeanette h2,
.testimonial__jeanette blockquote {
  color: #48556a;
}

@media (min-width: 48em) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial {
    justify-content: flex-start;
  }
  .testimonial__kira {
    grid-column: 2/3;
    grid-row: 1;
  }
}
@media (min-width: 72.5em) {
  .main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 28.2rem 26.6rem;
    margin: 16.4rem auto;
    gap: 0;
    column-gap: 3rem;
    row-gap: 2.4rem;
  }
  .testimonial__daniel {
    grid-column: 1/3;
  }
  .testimonial__daniel h2 {
    margin-bottom: 1.6rem;
  }
  .testimonial__kira {
    grid-column: 4;
    grid-row: 1/-1;
  }
  .testimonial__jeanette {
    grid-row: 2;
  }
  .testimonial__patrick {
    grid-column: 2/4;
  }
  .testimonial__review-quotation {
    right: 8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
